.dial-button {
    --base-bg: #fff;
    position: fixed;
    bottom: 11%;
    left: 80%;
    z-index: 9999;
  }
  
  .dial-button > label:not(.dial-button__cloak) {
    background: var(--base-bg);
    border-radius: 50%;
    display: block;
    height: calc(var(--parent, 44) * 1px);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(var(--parent, 44) * 1px);
    z-index: 9998;
  }
  
  .dial-button > input {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 9997;
  }
  
  .dial-button > :checked ~ label:first-of-type {
    --shadow-offset: 0;
  }
  
  .dial-button > :checked ~ button {
    --opacity: 1;
    --scale: 1;
    --translation: calc((var(--parent) / 2) + (var(--child) / 2) + var(--radius));
    z-index: 9996;
  }
  
  .dial-button > :checked ~ .dial-button__cloak {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }
  
  .dial-button button {
    --opacity: 0;
    --rotation: calc(var(--offset, 0) + ((var(--bounds) / var(--kids)) * var(--index)));
    --scale: 0;
    --translation: 0;
    background: var(--base-bg);
    border: 0;
    border-radius: 100%;
    height: calc(var(--child, 44) * 1px);
    left: 50%;
    position: absolute;
    opacity: var(--opacity);
    transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation, 0) * 1px)) rotate(calc(var(--rotation) * -1deg)) scale(var(--scale, 1));
    transition: transform calc(var(--transition, 0.25) * 1s) calc((var(--delay, 0) * var(--index)) * 1s),
                opacity calc(var(--transition, 0.25) * 1s) calc((var(--delay, 0) * var(--index)) * 1s),
                box-shadow 0.1s;
    width: calc(var(--child, 44) * 1px);
  }
  
@media (min-width:815px) {
  .botbar{
    display: none;
  }
}