@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

#intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.rectbox {
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 70vw;
    top: 4%;
    background-color: rgb(157, 157, 157);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    margin-top: -4rem;
    user-select: none;
    pointer-events: none;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2; 
    user-select: none;
    pointer-events: none;
}

.photoofme {
    display: flex;
    justify-content: center;
    object-fit: visible;
    height: 35rem;
    width: auto;
    filter: grayscale(100%);
    z-index: 2;
    position: relative;
}

.nameinbox{
    display: flex;
    justify-content: center;
    display: flex;
    position: absolute;
    font-size: 7.1vw;
    font-weight: bold;
    z-index: 3;
    bottom: -71%;
    background: linear-gradient(to top, white 50%, teal 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    user-select:auto;
    pointer-events: none;
    padding: 0 1rem; 
    white-space: nowrap;
}

.webdevtxt{
    position:relative;
    text-transform: uppercase;
    z-index: 4;
    font-size: 4rem;
    font-family: "Handjet", sans-serif;
    text-align: justify;
    letter-spacing: 0.3rem;
    font-weight: 800;
    color: white;
    top: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.scrolldown{
    text-transform: uppercase;
    position: absolute;
    top: 85%;
    color: white;
    padding: 0.9rem 1.5rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none; 
}


.scrolldown:hover {
    color: turquoise;
}

.scrolldown:active {
    color: turquoise;    
}

.scrollingmouse{
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    filter: invert(1);
    transition: all 1s ease;
}