#intro-container {
    width: 100%;
    max-width:1100px;
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    position: relative; 
}
.intro-page{
    display: flex;
    height:calc(100vh - 11rem);
    align-items: center;
    max-height: 40%;
    gap: 5%;
    position: relative;
}

.photoofme{
    display: flex;
    flex-direction: column;
    position: relative;
    object-fit: cover;
    height: auto;
    align-items: center;
    width: 55%;
}

.photoofme .photo{
    filter: grayscale(50%);
    width: 100%;
    border-radius: 19px;
    background: linear-gradient(145deg,#202020);
    box-shadow:  18px 18px 16px #0c0c0c;
}

.playwiththis{
    position: sticky;
    height: auto;
    width: 50%;
    margin-left: 2%;
    align-self: flex-end;
}

.intro_content{
    display: inline-flex;
    flex-direction: column;
    margin-top: 3rem;
    height: auto;
    width: 80%;
    font-weight: 700;
    justify-content: center;
    text-align: justify;
}

.name{
    font-size: 2.5rem;
    color: turquoise;
}
.webd{
    font-size: 1.5rem;
    color: white;
}
.about{
    font-size: 1.2rem;
    color: rgb(134, 130, 130);
}

.intro_contact {
    margin-top: 2rem;
    width: 8rem;
    padding: 0.9rem 1.5rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    background-color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .intro_contact:hover {
    background-color: turquoise;
    font-size: 0.9rem;
  }
  
  .intro_contact:active {
    background-color: turquoise;    
  }
  
@media (max-width: 768px) {
    #intro-container {
        margin-left: 16%;
        max-width: 768px;
        padding: 0 5%;
    }
    .intro-page {
        display: grid;
        gap: 25%;
        align-items: center;
        justify-content: center;
        max-height: 100%;
    }
    .intro_content{
        display: grid;
        -ms-grid-row-align: center;
        width: 65%;
        text-align: center;
    }
    .intro_contact{
        margin-top: 1rem;
        width: 5rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.5rem;
    }
    .photoofme{
        margin-left: 1.8rem;
        height: 15rem;
        grid-row:1;
    }
    .name{
        font-size: 2rem;
    }
    .webd{
        font-size: 1.5rem;
        color: white;
    }
    .about{
        font-size: 1rem;
        color: rgb(134, 130, 130);
    }
}
  
@media (max-width: 480px) {
    #intro{
        height: 50vh;
        margin: 0 40%;
        max-width: 90%;
    }
    .photoofme{
        height: 15rem;
    }
    .name{
        font-size: 1.3rem;
    }
    .webd{
        font-size: 1rem;
        color: white;
    }
    .about{
        font-size: 0.7rem;
        color: rgb(134, 130, 130);
    }
    .intro_contact{
        margin-top: 1rem;
        width: 5rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.5rem;
    }
  }