#intro{
    display: flex;
    height:calc(100vh - 8rem);
    align-items: center;
    width: 100vw;
    max-height: 40%;
    max-width: 80%;
    gap: 5%;
    margin: 0 25%;
    position: relative;
}

.photoofme{
    position: relative;
    object-fit: cover;
    height: 50%;
    width: auto;
    filter: grayscale(50%);
}

.playwiththis{
    position: relative;
    top:-30%;
    left:-3%;
}

.intro_content{
    display: inline-flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    font-weight: 700;
    justify-content: center;
    text-align: justify;
}

.name{
    font-size: 280%;
    color: turquoise;
}
.webd{
    font-size: 230%;
    color: white;
}
.about{
    font-size: 150%;
    color: rgb(134, 130, 130);
}

.intro_contact {
    margin-top: 2rem;
    width: 8rem;
    padding: 0.9rem 1.5rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    background-color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .intro_contact:hover {
    background-color: turquoise;
    font-size: 0.9rem;
  }
  
  .intro_contact:active {
    background-color: turquoise;    
  }
  
  @media (max-width: 768px) {
    #intro{
        height: 60vh;
        margin: 0 19%;
        max-width: 90%;
    }
    .intro_contact{
        margin-top: 1rem;
        width: 5rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.5rem;
    }
    .photoofme{
        height: 15rem;
    }
    .name{
        font-size: 1.2rem;
    }
    .webd{
        font-size: 1rem;
        color: white;
    }
    .about{
        font-size: 0.7rem;
        color: rgb(134, 130, 130);
    }
  }
  
  @media (max-width: 480px) {
    #intro{
        height: 50vh;
        margin: 0 40%;
        max-width: 90%;
    }
    .photoofme{
        height: 15rem;
    }
    .name{
        font-size: 1.3rem;
    }
    .webd{
        font-size: 1rem;
        color: white;
    }
    .about{
        font-size: 0.7rem;
        color: rgb(134, 130, 130);
    }
    .intro_contact{
        margin-top: 1rem;
        width: 5rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.5rem;
    }
  }