@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#abtbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    height: 25vh;
}

#abtboxwrap{
    position: relative;
    overflow: visible;
    margin: 5rem 1rem;
    margin-bottom: 8rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#abtbox_item {
    position: relative;
    overflow: visible;
    margin: 5rem 1rem;
    margin-bottom: 8rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    width: 9rem;
    border: 0.1rem;
    border-radius: 15%;
    border-color: white;
    background-color: rgb(42, 41, 41);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 0.3s;
}

#abtbox_item:hover{
    box-shadow: rgba(0, 128, 128, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}


.boxtitle{
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.5rem;
}

.boxcontent{
    font-weight: 600;
    font-size: 0.8rem;
    opacity: 50%;
}

.aboutcontent{
    position: absolute;
    left: 60rem;
    z-index: -1;
    height: 40vh;
    width: 20vw;
    margin: 5rem auto;
    user-select: none;
}

.abouttext{
    display: flex;
    height: 1vh;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 1.33rem;
    font-weight: 600;
    margin: 4rem auto;
    color: rgb(134, 130, 130);
    user-select: none;
}

.photoofme2{
    position: relative;
    left: 31rem;
    z-index: -1;
    object-fit: cover;
    height: 40vh;
    width: 20vw;
    margin: 5.5rem auto;
    margin-top: 0;
    top: -7rem;
    filter: grayscale(95%);
    user-select: none;
}

.aboutcontent{
    position: absolute;
    left: 60rem;
    z-index: -1;
    height: 40vh;
    width: 20vw;
    margin: 5rem auto;
    user-select: none;
    top: 145%;
}