.abtheading {
    height: 1vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5rem;
}

.abtheading_text {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.1rem; 
}

.abtsubheading {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}

#abtbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#abtbox_item {
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    width: 9rem;
    border: 0.1rem solid;
    border-radius: 15%;
    border-color: white;
    background-color: rgb(42, 41, 41);
}

.boxtitle{
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.5rem;
}

.boxcontent{
    font-weight: 600;
    opacity: 50%;
}

.abtboxlogo{
    margin: 0.5rem;
    font-weight: 600;
    width: 2rem;
    height: 2rem;
}


